.main-section {
  padding-top: var(--header-size);
  margin: 0 1rem 3rem;
  display: flex;
}

.main-section form {
  margin: 4vw 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background: rgba(245, 245, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 1.5rem;
}

.main-section input {
  border: 1px solid;
  border-radius: 16px;
  padding: 0.5rem;
}

.main-section .form-btn {
  border-radius: 20px;
  padding: 0.5rem 0.8rem;
  outline: none;
  outline: none;
  border: 1px solid var(--clr-secondary);
  background: var(--clr-secondary);
  color: var(--clr-light);
  font-size: 1rem;
}

.tenzies-game {
  margin: 4vw 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* color: #f5f5ff; */
  background: rgba(245, 245, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 1.5rem;
}

.tenzies-game .roll-btn {
  outline: none;
  border: 1px solid;
  border-radius: 20px;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background-color: var(--clr-secondary-light);
}

.dice-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  margin: 2rem;
}

.dice-wrap .die-btn {
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2rem;
  background: rgba(245, 245, 220, 0.4);
  font-family: "Bitcount Prop Single", system-ui;
  font-size: 1.4rem;
  font-weight: 600;
}

.stop-watch {
  font-size: 1.5rem;
}

@media screen and (min-width: 1080px) {
  .main-section {
    margin: 0 2rem;
  }
  .dice-wrap {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 2rem 5rem;
  }

  .tenzies-game {
    margin: 2vw 5vw;
  }
  .tenzies-game .roll-btn {
    align-self: center;
  }

  .stop-watch {
    font-size: 2.5rem;
  }
}
