header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: rgba(255, 255, 2555 , 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    letter-spacing: 8px;
}


.logo-wrap {
    width: 150px;
    display: flex;
    align-items: center;
}

header img {
    width: 100%;
    height: auto;
}

.gameTitle {
    font-size: 3rem;
}

.userName {
    font-size: 1.5rem;
}