header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgba(255, 255, 2555, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  letter-spacing: 8px;
  z-index: 10;
  gap: 1rem;
}

.logo-wrap {
  width: 140px;
  display: flex;
  align-items: center;
}

header img {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
  border-radius: 1rem;
}

.gameTitle {
  font-size: 2rem;
  text-align: center;
}

.username-wrap {
  position: relative;
}

.userName {
  font-size: 1.5rem;
}

.log-out {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: -0.5rem;
  background: none;
  color: var(--clr-primary);
  font-size: 0.7rem;
  border: none;
  font-family: "Bitcount Prop Single", system-ui;
  cursor: pointer;
}

@media screen and (min-width: 1080px) {
  header {
    flex-direction: row;
  }
}
