:root {
  --header-size : 0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #161515e6;
  background: url(https://www.datocms-assets.com/101439/1741966599-cherry-blossoms.avif)  no-repeat center / cover fixed ;
  font-family: "Bitcount Prop Single", system-ui;
}